#seg {
    height: var(--percentage);
}
#ter {
    height: var(--percentage);
}
#qua {
    height: var(--percentage);
}
#qui {
    height: var(--percentage);
}
#sex {
    height: var(--percentage);
}
#sab {
    height: var(--percentage);
}
#dom {
    height: var(--percentage);
}
